@model LibraryCatalog2.Models.Catalog.AssetIndexModel

    <div id="assets">
        <h3>Library Catalog</h3>
        <div id="assetsTable">
            <table class="table table-condensed" id="catalogIndextable"></table>
        </div>
    </div>

